<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSMicrophoneUsageDescription</key>
  <string>EditWeave은 타임라인에 ADR 및 보이스오버 오디오를 녹음하기 위해 마이크를 사용합니다.</string>
</dict>
</plist>
